scality:
  version: 4.1.4.r36931-1.el6 # comment to install the latest version from configured repository
  repository:
      variant: stable_isildur
      #private: http://my.private.repository/          # uncomment to use a private/local repository
      login: your_login_for_packages.scality.com       # change when not using private
      password: your_password_for_packages.scality.com # change when not using private
  rings: DATA,META
  mount_prefix: /scality/disk
  nb_disks: 10
  name_prefix: {{ grains['id'] }}-n
  nb_nodes: 6
  prod_iface: eth0
  supervisor_ip: 127.0.0.1
  config_rsyslog: True
  config_logrotate: True
  log:
    base_dir: /var/log
#  ntp:
#    servers:
#      - 192.168.1.1


