scality:
  variant: stable_isildur
   version: 4.1.4.r36931-1 # keep commented to install the latest version
  login: your_login
  password: your_password
  rings: DATA,META
  mount_prefix: /scality/disk
  nb_nodes: 6
  nb_disks: 10
  supervisor_ip: 127.0.0.1

