#
# sproxyd config file
#

#number of worker threads per task pool
#n_workers = 100

#bind address
#bind = 0.0.0.0

#bind port
port = 10001

#connections backlog
#backlog = 10000

#number of incoming requests processed concurrently
#n_responders = 500

#maximum number of open file descriptors
max_proc_fd = 40960

#syslog_facility = "daemon"
#chroot_path =
#uid =
#gid =

#max simultaneous connections open to ring nodes
conn_max = 10000

#max number of connection re-use before kicking it
conn_max_reuse = 100000


#
# base_path=/arcdata configuration
#
[arcdata]

#
# STRUCTURAL PARAMETERS (do not change them when set for a storage Ring)
#

#ring driver
ring_driver = "arcdata"


#
# RING ACCESS PARAMETERS
#

#bootstraplist (port 4244 by default)
#eg. bstraplist = 1.2.3.4:4244,1.2.3.4:4245
bstraplist = {{ salt['scality.bootstrap_list'](pillar['data_ring']) }}


#
# ARC PERFORMANCE TUNING
#

#number of parallel tasks in the main task pool
main_n_workers = 100

#number of parallel tasks in the sub task pool
sub_n_workers = 100

#number of parallel tasks in the cache task pool
cache_n_workers = 100

#size in bytes of data stripes read at once when reconstructing
get_reconstruct_buffer_size = 1048576



#srebuildd HOWTO using curl:

#get statistics information
#curl http://localhost:81/rebuild/chord/.stats

#reset statistics information
#curl -XDELETE http://localhost:81/rebuild/chord/.stats

#get active configuration parameters, each on a line with format key=value
#curl http://localhost:81/rebuild/chord/.conf
