{% set scality = salt['grains.filter_by']({
    'Debian': {
        'apache_name': 'apache2',
        'init_conf_dir': '/etc/default',
    },
    'RedHat': {
        'apache_name': 'httpd',
        'init_conf_dir': '/etc/sysconfig',
    },
}, merge=salt['pillar.get']('scality:lookup'))%}
